.AppContainer {
  display: flex;
  flex-direction: column;
  background-color: pink;
  padding: 5px;
  height: 100%;
  width: 100%;
}

.TopNavBarBox {
  display: flex;
  background-color: green;
}

.TopNavBarContent {
  display: flex;
  background-color: green;
  justify-content: flex-start;
  column-gap: 5px;
  padding: 5px;
}

.TopNavBarUrlInput {
  display: flex;
  column-gap: 5px;
  padding: 5px;
}

.TopNavBarConnectButton {
  display: flex;
  column-gap: 5px;
  padding: 5px;
}

.TopNavBarRefreshButton {
  display: flex;
  column-gap: 5px;
  padding: 5px;
}

.BottomBox {
  display: flex;
  background-color: blue;
  padding: 5px;
  overflow: scroll;
  min-width: 200px;
  height: 80%;
}

.LeftBox {
  display: flex;
  flex-direction: row;
  background-color: red;
  overflow: scroll;
}

.LeftBoxDatabaseList {
  display: flex;
  flex-grow: 1;
  background-color: blue;
  overflow: scroll;
}

.LeftBoxCollectionList {
  display: flex;
  flex-direction: column;
  background-color: red;
  padding: 5px;
  overflow: scroll;
}

.LeftBoxCollectionItem {
  display: flex;
  flex-direction: column;
  background-color: green;
  padding: 5px;
  overflow: scroll;
}

.LeftBoxCollectionHeader {
  display: flex;
  flex-direction: column;
  background-color: blue;
  padding: 5px;
  overflow: scroll;
}

.LeftBoxCollectionBody {
  display: flex;
  flex-direction: column;
  background-color: red;
  padding: 5px;
  overflow: scroll;
}

.LeftBoxCollectionButton {
  display: flex;
  flex-direction: column;
  background-color: green;
  padding: 5px;
  overflow: scroll;
  width: 250px;
}

.RightBox {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: lightyellow;
  overflow: scroll;
}

.MiddleButtonLayout {
  display: flex;
  flex-direction: column;
}

.MiddleButtonHeaderLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
